.ticketsSell{
    left: -100px;
    position: relative;
    width: 1300px;

}
th, td{
    padding: 30px;
}
.allTickets{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.targetTickets{
    border: 2px solid red;
    width: 650px;
}
.ticketBuy{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    border: 2px solid grey;
}
.currTicket{
    margin: 15px 0 15px 0;
    border: 2px solid grey;
    width: 250px;
}
select{
    margin: 5px;
}

.tableBlock{
    position: relative;
}
.hiddenTable{
    visibility: hidden;
    font-size: 14px;
    left: -30%;
    background-color: #f7f7f7;
    position: absolute;
    display: block;
}
.hiddenTable th, td{
    padding: 10px;
}
.lastTd{
    margin-top: 20px;
    display: block;
    text-align: center;
    display: flex;
    width: 100px;
    display: block
}
.lastTd span{
    display: block;
}

.closeAdvancedBtn {
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 25px;
}
.closeAdvancedBtn:hover {
    cursor: pointer;
}