.mobileMain {
    width: 500px;
    margin: 0 auto;
    background: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 1.75rem 1.125rem 1.75rem 1rem;
}


.newItem {
    background-color: #FED74B;
    text-align: center;
    position: absolute;
    width: 99px;
    height: 35px;
    top: 2.5rem;
    padding: 0.625rem;
    color: #3E3E3E;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

.firstPart img {
    width: 340px;
    height: 220px;
}
.firstPart{
    margin-bottom: 0;
}
.infoListBlock {
    margin-top: 0.625rem;
}

.timeButtonsBlock {
    right: 4.5rem;
    margin-top: -2.625rem;
    position: absolute;
}

.advancedButtonBlock {
    margin-top: 1.875rem;
    display: flex;
}


.secondBlock {
    position: relative;
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid #8E8E8E;
    border-radius: 15px;
    width: 341px;
    height: 603px;
}
.secondPart{
    width: inherit;
    height: inherit;
}


.secondNewItem {
    background-color: #7553FF;;
    text-align: center;
    position: absolute;
    width: 129px;
    height: 43px;
    top: 0;
    border-radius: 15px 0px 12px;
    padding: 0.8rem 0.625rem 0.5rem 0.625rem;
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.thirdBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 3.75rem;
    margin-bottom: 3rem;
    display: flex;
    border: 0.5px solid #8E8E8E;
    border-radius: 15px;
    width: 341px;
    height: 603px;
}



.timeButtonsSecondBlock {
    right: 2rem;
    margin-top: -2.625rem;
    position: absolute;
}