.timeRemaining{
    position: relative;
    height: 23px;
    width: 108px;
}
.timeRemaining span{
    margin-left: 1.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #9E9E9E;
}
.timeRemaining img{
    top: 4px;
    position: absolute;
    left: 0;
}

@media screen and (min-width: 280px) and (max-width: 1000px ){
    .timeRemaining{
        margin-top: 1rem;
        margin-left: 0.75rem;
        position: relative;
        height: 23px;
        width: 108px;
    }
    .timeRemaining span{
        margin-left: 1.375rem;
        font-size: 0.75rem;
        line-height: 1.25rem;
        color: #9E9E9E;
    }
    .timeRemaining img{
        top: 4px;
        position: absolute;
        left: 0;
    }
}