.timeButton {
    font-size: 1rem;
    color: #343434;
    width: 73px;
    height: 28px;
    background: #C5DCFF;
    border-radius: 11px;
    border: none;
    margin-right: 0.375rem;
}

.timeButton:hover {
    cursor: pointer;
    outline: 1px solid black;
}

@media screen and (min-width: 280px) and (max-width: 720px) {
    .timeButton {
        margin-top: 2.75rem;
        font-size: 0.875rem;
        color: #343434;
        width: 63px;
        height: 24px;
        background: #C5DCFF;
        border-radius: 11px;
        border: none;
        margin-right: 0.25rem;
    }

    .timeButton:hover {
        cursor: pointer;
        outline: 1px solid black;
    }


}